*
{
    position: relative;
    z-index: 50;
}

.main_nav
{
    display: table;

    width: 100%;
    padding: 8px 0;

    list-style: none;

    background: url('../images/bg_nav.jpg') left bottom repeat-x #f5f9fc;
    /* position: fixed;
    top: 90px;
    left: 0; */
}

.main_nav > li
{
    font: 15px Trebuchet MS;

    position: relative;
    z-index: 500;

    display: table-cell;
    float: none;

    margin: 0 1px;

    text-align: center;

    background: url('../images/nav_saprator.jpg') right top no-repeat;
}

.logo
{
    /* margin-left: 50px; */
    margin-top: 30px;
}

.logoImg
{
    max-height: 76px;
}

.phoneImg
{
    height: 25px;
    margin-right: 5px;
}

.telNum
{
    font-size: 13px;
    font-weight: 400;

    margin-bottom: 5px;

    text-align: left;
    text-decoration: none;

    color: white !important;
}

.telNum a
{
    float: right;

    margin-left: 4px;

    color: #d2d2d2;
}

.spacer
{
    /* margin-top: 160px; */
    margin-top: 25px;
}

.blog-header
{
    z-index: 900;
    /* position: sticky; */
    top: 0;
    left: 0;

    width: 100%;
    height: 140px;
    padding: 0;
    padding-top: 15px;
    padding-left: 30px;

    border: none;
}

.offset-0
{
    margin: 0 !important;
}

#toogleNavBar
{
    display: none;
}

.show_on_mobile
{
    display: none;
}

.titre
{
    font-size: 16px;
    font-size: 12px;
    font-weight: 200;

    padding-top: 20px;
    padding-top: 0;
    padding-right: 20px;
    padding-left: 0;

    text-align: center;
    text-align: left;
    letter-spacing: 1px;

    color: white;
    color: #fbca01;
    color: #d8e3fc;
}

.emailHeader,
.emailHeader a,
.emailHeader:active
{
    font-size: 12px;
    font-weight: 200;

    color: #d8e3fc;
}



.navbar-toggler
{
    padding: .25rem .45rem;
}

.phoneRow
{
    /* margin-top: 10px; */
    position: absolute;
    right: 0;
    bottom: 0;
    /* margin: 0;
    float: right;
    text-align: right;
    margin-top: 10px; */

    margin: 0;
    /* float: right; */

    text-align: right;
}

.phonesSection
{
    float: right;

    text-align: right;
}

.titre
{
    font-size: 15px;

    padding-top: 0;
    padding-left: 0;

    text-align: left;

    color: #d8e3fc;
}

.sliderBorder
{
    padding: 2px !important;

    border: 1px solid black !important;
    background: white !important;
}


.bg-bleu
{
    /* background-color: #020C25; */
    /* background-color: #272D4D; */
    /* background-color: #101361; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000817+0,111667+100 */
    background: #000817;
    /* Old browsers */
    background:    -moz-linear-gradient(top, #000817 0%, #111667 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #000817 0%, #111667 100%);
    /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to bottom, #000817 0%, #111667 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000817', endColorstr='#111667', GradientType=0);
    /* IE6-9 */
}

.testimonialElements
{
    font-size: 11px;
    font-weight: 600;

    margin: 10px 0;
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 5px;

    color: #020c25;
    color: #020c25;
    border-radius: 5px;
    /* font-weight: 600; */
    /* border: 1px solid #377D22; */
}
hr
{
    border-top: 1px solid rgba(26, 74, 52, .86);
}

.testimonialElements:last-child {
    text-align: left;
    /* text-decoration: underline; */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: .8rem;
    font-weight: 400;
    color:red;
}
/* .testimonialElements:last-child
{
    font-size: 1rem;
    font-weight: 100;

    margin: 0;
    padding: 0;

    text-align: right;
    text-decoration: underline;

    border: none;
    background: none;
  } */

.blog-footer div hr
{
    color: white;
    border-color: white;
    background-color: white;
}

.blog-footer div h1
{
    font-size: 20px;

    text-align: left;

    color: #a6f353;
}

.blog-footer div ul
{
    font-size: 15px;

    text-align: left;

    color: white;
}

.blog-footer div ul li a
{
    color: white;
}

.blog-footer div .f_icon
{
    float: left;

    width: 33px;
    height: 37px;
    padding-top: 10px;
}

h3.addressFooter
{
    font-size: 24px;

    text-decoration: underline;
}

h4.addressFooter
{
    font-size: 18px;
}

p.addressFooter
{
    font-size: 15px;
}

.testimonial
{
    border: 1px solid #377d22;
    border-radius: 5px;
    /* background: #D2D2D2; */
    background: #e9fae1;
    /* border: 1px solid #020C25; */
}
.font-italic
{
    text-align: center;

    color: #377d22;
}
/*
@media (min-width: 1200px) {
    .blog-header {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .blog-header {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .blog-header {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .blog-header {
        max-width: 540px;
    }
} */

.blog-header
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.bandeau
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 400px;
}

.bandeauTitre
{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 200px;
}

.sticky
{
    position: sticky;
    z-index: 900;
    top: 0;
}

.nomAltPhoto
{
    font-size: 15px;
    font-weight: 400;

    text-align: center;
}

.altPhoto
{
    font-size: 12px;

    text-align: center;
}
.property{
  margin-top: 35px;
  background-color: rgba(223,221,230,.8)
}

.bg-light{
  background-color: #c0b6ca7a!important;
  border: 1px solid #001FF1;
}
.rounded{
  border-radius:0!important;
}
.pro_top_new{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(204, 205, 251);
}
#result_box{
  text-align: center;
    line-height: 35px;
    margin: 0;
  padding: 5px;
}
/* .photoProfil {
    text-align: center;
} */

/* ______________________ _______________________________________________________ */


@media (max-width: 991px)
{
    .mailLang
    {
        position: absolute;
        top: 15px;
        right: 0;

        padding: 0;
    }

    .titre
    {
        font-size: 11px;
    }

    .blog-post-title
    {
        font-size: 2rem;

        margin-bottom: .25rem;
    }
    .main_nav
    {
        padding-top: 0;
        padding-bottom: 0;
    }
    .main_nav > li
    {
        font: 20px Trebuchet MS;

        display: block;

        width: 100%;
        padding: 5px;
        padding: 1px 5px;

        border-bottom: 1px solid gray;
        background: none;
    }
    #navbarsExample08
    {
        position: fixed;
        z-index: 955;
        top: 135px;
        left: 15px;

        width: 300px;
    }
    #toogleNavBar
    {
        display: flex;
    }
    .logo
    {
        /* position: fixed;
        top: 60px; */
        margin-left: 35px;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ -----------  and (min-device-width: 414px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) */

@media only screen and (max-device-width: 736px)
{
    .container
    {
        width: 100%;
    }
    .logoImg
    {
        height: 80px;
    }
    .hide_on_mobile
    {
        display: none;
    }
    .show_on_mobile
    {
        display: inherit;
    }
    .blog-header
    {
        height: 110px;
    }
    .titre
    {
        font-size: 11px;

        padding-top: 5px;

        letter-spacing: -.8px;
    }
    .titleCol
    {
        padding-left: 0;
    }
    .blog-post
    {
        float: left;
    }
    .bandeau
    {
        height: 250px;
    }
    .blog-post
    {
        margin-top: 30px;
    }
    .blog-post-title
    {
        font-size: 1.5rem;
    }
    .blog-post p
    {
        font-size: .8rem;

        height: auto;
    }
    .blog-main
    {
        max-height: 525px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}
@media (max-width: 576px)
{
    .hide_on_mobile
    {
        display: none;
    }
    .show_on_mobile
    {
        display: inherit;
    }

    #navbarsExample08
    {
        top: 135px;
        left: 0;

        width: 100%;
    }
}

@media only screen and (max-width: 576px) and (orientation: landscape)
{
    #navbarsExample08
    {
        top: 90px;
        left: 0;

        width: 100%;
    }
}

@media (max-width: 372px)
{
    .telNum
    {
        font-size: 10px;
    }
}
